.header{
    background: url("/Lab3new/resources/images/headerBack.jpg");
    margin-bottom: 1%;
    font-family: 'MyFont';
    text-align: center;
    font-size: 150%;
    color: yellow;
    flex-grow: 0;
}
.header span {
    padding: 0 10px;
    background: rgba(37,219,237,0.8);
}
@font-face{
    font-family: 'MyFont';
    src:url("/Lab3new/resources/fonts/Breathe/Breathe-Press.ttf");
}